.event-page {
  z-index: 10000;
  position: fixed;
  left: 50%;
  width: 50%;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.5s;
}
.event-page .show-page-background{
  background-color: #0000007b;
}

.event-page .hide-page-background{
  background-color: #00000000;
}
.event-page .show-page-animation {
  animation: slideIn 0.5s forwards;
}

.event-page .hide-page-animation {
  animation: slideOut 0.5s forwards;
}

.event-page .event-container {
  z-index: 20000;
  position: fixed;
  top: 0;
  left: 4%;
  width: 96%;
  height: 100%;
  background: linear-gradient(135deg, #192f3c, #31546a, #4a7998);
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  color: #F5F5F5;
}

.event-page .show-animation {
  animation: slideIn 0.5s forwards;
}

.event-page .hide-animation {
  animation: slideOut 0.5s forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.event-page .close-button {
  background: none;
  margin: 10px;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: aliceblue;
  position: absolute;
  top: 10px;
  left: 10px;
}

.close-button:hover {
  color: #ff5757;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}


.event-page .event-information{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 20px;
}

.event-page .event-image {
  width: 75%;
  height: auto;
}

.event-page .event-image img{
  width: 100%;
  height: auto;
}

.event-page .event-name-like-button{
  color: #F5F5F5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
  margin-top: 10px;
  font-weight: 600;
}
.event-page .icon-elements {
  width: 5%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}
.event-page .icon-elements .liked {
  width: 110%;
  border: 3px solid rgb(99, 188, 255);
  border-radius: 50%;
  height: auto;
}

.event-page .icon-elements img {
  width: 80%;
  height: auto;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.event-page .icon-elements img:hover {
  background-color: #e0e0e0;
}

.event-page .story-number-of-likes{
  color: aliceblue;
  font-size: 15px;
}

.event-page .event-navigation-bar {
  color: #F5F5F5;
  width: 100%;
  height: auto;
  font-size: 18px;
  margin-top: 30px;
}

.event-page .event-navigation-bar ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: start;
}

.event-page .event-navigation-bar li {
  position: relative;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}
.event-navigation-bar li:hover {
  background-color: #4a7998;
}

.event-page .event-navigation-bar .visible::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: #00f3ff;
  animation: drawUnderline 0.5s ease forwards;
}

@keyframes drawUnderline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.event-page .event-container .event-navigation {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.event-page .event-container .event-navigation button{
  width:50px;
  height:50px;
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.246);
	border: none;
  margin: 5px;
	cursor: pointer;
}
.event-page .event-container .event-navigation button:hover{
  background-color: rgba(0, 0, 0, 0.612);
}

.event-page .visible-information-card{
  margin-top: 20px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: 
  "event location"
  "performer performer";
  grid-gap: 20px;
  padding: 15px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
}
.event-page .visible-comment-card{
  margin-top: 20px;
  width: 95%;
  height: 95%;
  overflow: hidden;
  grid-gap: 20px;
  padding: 15px;
}
.event-page .event-section {
  grid-area: event;
  font-size: 18px;
  padding-left: 30px;
}

.event-page .location-section {
  grid-area: location;
  font-size: 18px;
  padding-right: 30px;
}

.event-page .performer-section {
  grid-area: performer;
  width: 100%;
  height: auto;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.event-page .performer-slider.single-performer {
  padding-left: 30px;
}
.event-page .performer-image{
  width:40%;
  height:40%;
}
.event-page .performer-image img{
  width: 100%;
  height:auto;
  border-radius: 10%;
}

.event-page .performer-slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-page .performer-slide {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-direction: row;
  gap: 30px;
  width: 100%;
}

.event-page .performer-slider button {
  color: #00f3ff;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  margin: 0 10px;
}

.event-page .performer-slider button:focus {
  outline: none;
}

.event-page .performer-information{
  display: flex;
  flex-direction: column;
}

.event-page .performer-name{
  font-size: 30px;
  color: #00f3ff;
  font-weight: 200;
}

.event-page .event-container .dot-container {
  position: absolute;
  left: 0;
  transform: translateX(-140%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px
}

.event-page .event-container .dot {
  height: 9px;
  width: 9px;
  margin: 0 5px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.event-page .event-container .dot.active {
  height: 12px;
  width: 12px;
  background-color: #ff0000;
}
